<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.jong10.cindle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:name=".ActivityCodeview"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:theme="@android:style/Theme.NoTitleBar"  
            android:name=".ActivityCscope"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:theme="@android:style/Theme.NoTitleBar"  
            android:name=".ActivityDirListing"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name=".ActivityStart"
            android:screenOrientation="landscape">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>
